<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutdefault/layoutdefault}">

<main layout:fragment="pagecontent">
    <section>

        <div class="row p-4">
        <div class="card p-3">
            <div class="table-responsive">
                <table id="myTable" class="table align-items-center mb-0" width="100%">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Nome</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Viagem</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Berço
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Previsão de Atracação
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Taxas Anuentes?
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Certificados?
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Prático?
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Status
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lstProgramados : ${lstProgramados}">
                        <td th:text="${lstProgramados.txNavio}"></td>
                        <td th:text="${lstProgramados.txRefViagem}"></td>
                        <td th:text="${lstProgramados.txBerco}"></td>
                        <td th:text="${{lstProgramados.dtPrevInicio}}"></td>
                        <td th:text="${lstProgramados.ckAnuencia eq 1 ? 'Sim' : 'Não'}"></td>
                        <td th:text="${lstProgramados.ckCertificado eq 1 ? 'Sim' : 'Não'}"></td>
                        <td th:text="${lstProgramados.txPratico}"></td>
                        <td><span th:style="${lstProgramados.status}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

        <div class="row p-3">
            <div class="col-sm-6">
                <div class="card">
                    <!--<div class="card-header" style="background-color: #224D91!important"></div>-->
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="line-chart" class="chart-canvas" height="300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <!--<div class="card-header" style="background-color: #224D91!important"></div>-->
                    <div class="card-body">
                        <span th:text="|Condição Climática: ${tbClima.txCondicao}|"></span>
                        <span th:text="|Direção do Vento: ${tbClima.txDirecaoVento}|"></span>
                        <span th:text="|Velocidade do Vento: ${tbClima.vlVelocidadeVento}|"></span>
                    </div>
                </div>
            </div>

        </div>

        <script th:inline="javascript">
            /*<[[CDATA*/
            $(document).ready(function () {
                    $('#myTable').DataTable();


                    const ctx = document.getElementById('line-chart').getContext('2d');

                    let graphic = /*[[${tbTabuaMareObj}]]*/null;

                    let labels = [];

                    let dados = [];

                    graphic.forEach(value => {
                        labels.push(value.dtPicoMare);
                        dados.push(value.vlPico);
                    });

                    const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Variação da Maré",
                                data: dados,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });


                }
            );
            /*]]>*/
        </script>

    </section>
</main>
</html>