<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutdefault/layoutdefault}">

<main layout:fragment="pagecontent">
    <section>

        <div class="row p-4" style="margin-right: 0 !important;">
        <div class="card p-3">
            <div class="table-responsive">
                <table id="myTable" class="table align-items-center mb-0" width="100%">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Nome</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Viagem</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Berço
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Previsão de Atracação
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Taxas Anuentes?
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Certificados?
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Prático?
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                            Status
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lstProgramados : ${lstProgramados}">
                        <td th:text="${lstProgramados.txNavio}"></td>
                        <td th:text="${lstProgramados.txRefViagem}"></td>
                        <td th:text="${lstProgramados.txBerco}"></td>
                        <td th:text="${{lstProgramados.dtPrevInicio}}"></td>
                        <td th:text="${lstProgramados.ckAnuencia eq 1 ? 'Sim' : 'Não'}"></td>
                        <td th:text="${lstProgramados.ckCertificado eq 1 ? 'Sim' : 'Não'}"></td>
                        <td th:text="${lstProgramados.txPratico}"></td>
                        <td><span th:class="${txStatusClass}" th:text="${txStatus}">Default</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        </div>

        <div class="row p-3" style="margin-right: 0 !important;">
            <div class="col-sm-6">
                <div class="card">
                    <!--<div class="card-header" style="background-color: #224D91!important"></div>-->
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="line-chart" class="chart-canvas" height="300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <!--<div class="card-header" style="background-color: #224D91!important"></div>-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <i class="fa-solid fa-windsock"></i>
                            </div>
                            <div class="col-sm-6">
                                <p><span th:text="|Condição Climática: ${tbClima.txCondicao}|"></span></p>
                                <p><span th:text="|Direção do Vento: ${tbClima.txDirecaoVento}|"></span></p>
                                <p><span th:text="|Velocidade do Vento: ${tbClima.vlVelocidadeVento}|"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script th:inline="javascript">
            /*<[[CDATA*/
            $(document).ready(function () {
                    $('#myTable').DataTable({
                        order: [3, 'desc'],
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json',
                        }
                    });

                    $(document).keypress(function (event) {
                        if (event.which == 112) {
                            Swal.fire({
                                title: "Aviso",
                                text: "Previsão de atracação se aproximando, e taxas de Anuentes não estão pagas",
                                icon: "warning",
                                confirmButtonText: "Fechar"
                            });
                        }

                        if (event.which == 108) {
                            Swal.fire({
                                title: "Aviso",
                                text: "A tabua da maré excedeu o limite mínimo do aceitável de 1m",
                                icon: "warning",
                                confirmButtonText: "Fechar"
                            });
                        }
                    });

                    const ctx = document.getElementById('line-chart').getContext('2d');

                    let graphic = /*[[${tbTabuaMareObj}]]*/null;

                    let labels = [];

                    let dados = [];

                    graphic.forEach(value => {
                        labels.push(value.dtPicoMare);
                        dados.push(value.vlPico);
                    });

                    var gradientStroke1 = ctx.createLinearGradient(0, 230, 0, 50);

                    const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Tábua da Maré",
                                tension: 0.4,
                                pointRadius: 2,
                                pointBackgroundColor: "#3A416F",
                                backgroundColor: "#3A416F",
                                borderColor: "#3A416F",
                                borderWidth: 3,
                                maxBarThickness: 6,
                                data: dados

                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            interaction: {
                                intersect: false,
                                mode: 'index',
                            },
                            scales: {
                                y: {
                                    grid: {
                                        drawBorder: false,
                                        display: true,
                                        drawOnChartArea: true,
                                        drawTicks: false,
                                        borderDash: [5, 5]
                                    },
                                    ticks: {
                                        display: true,
                                        padding: 10,
                                        color: '#013d70',
                                        font: {
                                            size: 11,
                                            family: "Open Sans",
                                            style: 'normal',
                                            lineHeight: 2
                                        },
                                    }
                                },
                                x: {
                                    grid: {
                                        drawBorder: false,
                                        display: true,
                                        drawOnChartArea: true,
                                        drawTicks: true,
                                        borderDash: [5, 5]
                                    },
                                    ticks: {
                                        display: true,
                                        color: '#013d70',
                                        padding: 10,
                                        font: {
                                            size: 11,
                                            family: "Open Sans",
                                            style: 'normal',
                                            lineHeight: 2
                                        },
                                    }
                                },
                            },
                        },
                    });


                }
            );
            /*]]>*/
        </script>

    </section>
</main>
</html>